nutri_text{
  margin-bottom:1%!important;
  border-style:none none solid none!important;
  border-width: 2px!important;
  margin-top:2%!important;
  padding-left:1%!important;
  padding-right:1%!important;
}

.logo_font{
  font-family: 'Raleway', sans-serif!important;
  white-space:nowrap;
}

.menu_button{
  width:10%!important;
}

.menu_cal{
  width: 80%!important;
}

.pop_img{
  width:100%;
  margin-top:10px;
}

.cal_img{
  max-width:100%;
  max-height:100%;
}

.pop_recipe{
  text-align:left!important;
}

.big-container{
  width:100%;
  background-color: #2B1801;
  color: white;
}

.suggestion-small-container{
  border:2px solid white;
  padding-left: 2%;
  margin-left: 2%;
  margin-right:2%;
  background-color: #2B1801;
  color: white;
}

.bg_brown{
  background-color: #2B1801;
  color: white;
}

.text_brown{
  color:#2B1801;
}

.recipe-container:after{content:"";display:table;clear:both}

.recipe-container{
  padding:0.01em 18px;
  position:relative;
  margin-top:80px;
}

.image_resize{
  min-width: 100%;
}


.image_container{
  width:100%;
  height:300px;
  opacity: 1;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;


}
p.nutri_text{
  margin-bottom:1%!important;
  border-style:none none solid none!important;
  border-width: 2px!important;
}

.list_padding{
  padding-left: 2%;
}

.nutri_container{
  border:2px solid #EAA452;
  margin-top:2%;
  padding-left:1%;
  padding-right:1%;
}
@media (min-width:1401px){
  .recipe-container{
    width:70%;
    margin-left: 14.9%;
  }
  .recipe-head-container{
    height:400px;
    background-color: #2B1801;
  }
  .image_container{
    width:90%;
    height:400px;
    opacity: 1;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    float:right;
  }
}
@media (min-width:993px) and (max-width:1400px){
  .recipe-container{
    width:70%;
    margin-left: 14.9%;
  }
  .recipe-head-container{
    height:270px;
    background-color: #2B1801;
  }
  .image_container{
    width:90%;
    height:270px;
    opacity: 1;
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
    float:right;

  }
}
@media only screen and (max-width:600px){
  h1{
    font-size: 30px!important;
  }
  .nutri_container{
    margin-top:20px!important;
    margin-bottom: 20px!important;
  }
  .image_resize{
    max-width: 100%;
    min-width: 66.7%;
  }
  .suggestion-small-container{
    border:2px solid white;
    padding-left: 2%;
    margin-left: 2%;
    margin-right:2%;
    background-color: #2B1801;
    color: white;
    margin-bottom:20px;
  }
}
@media screen and (max-width:600px){
  h1{
    font-size: 30px!important;
  }
  .nutri_container{
    margin-top:20px!important;
    margin-bottom: 20px!important;
  }
}

@@media screen and (max-width:1025px) {
  .small{
    font-size: 18px!important;
  }
}

p.handw{
    font-family: 'Pacifico', cursive!important;
}

h4.handw{
    font-family: 'Lobster Two', cursive!important;
    font-size: 20px;
}

a:hover{
  background-color: white;
  color: #2B1801;
}



.my-navbar{list-style-type:none;margin:0;padding:0;overflow:hidden}
.my-navbar li{float:left}.my-navbar li a,.w3-navitem{display:block;}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  opacity: 1;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('bg_image_1280.png');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("img_parallax2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("img_parallax3.jpg");
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

#googleMap {
  width: 100%;
  height: 400px;
  -webkit-filter: grayscale(90%);
  filter: grayscale(90%);
}

.login-container{
  background-color: white;
  font-style: 'Raleway', sans-serif!important;
  padding-bottom: 20px;

}
.login-container h2{
  margin-left: 15%;
  margin-top: 10px;
  margin-bottom: 10px;

}
.login-container p{
  margin-top: 10px;
  font-size: 12px;
  text-align: center!important;
}
.login-container input{
  margin-left: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  width:60%;
}

.login-column{
  width:60%;
  margin-left: 20%;
  margin-top:20px;
  margin-bottom: 20px;
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}

.full_width{
  width: 100%;
}
